body {
	margin: 0;
	background-image: url(/img/background/background-brick-wall.jpg);
}


/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}
.panel-footer-custom {
	font-size: 18px;
	text-align: center;
	padding: 5px;
}
.panel-body-custom {
	padding: 0;
}
.img-custom {
	border-top-left-radius: 3px;	
	border-top-right-radius: 3px;	
}
.panel-custom {
	border-radius: 3px;
}
.panel-custom:hover {
	box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
}
.img-icon-inst:hover {
	filter: alpha(Opacity=75); /* Полупрозрачность для IE */
    opacity: 0.75;
}
.img-icon-inst {
	/*background-image: url("/img/icon/iconfinder_instagram.svg");*/
	width: 30px;
	height: 30px;
	margin-right: 10px;	
}
.icon {
	display: flex;
	justify-content: center;
}
.card {
	margin-top: 18px;
}